Java/05042017XML/ProductClient/Server/resources/items.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="items">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                              <xs:complexType>
                                    <xs:simpleContent>
                                          <xs:extension base="xs:string">
                                                <xs:attribute type="xs:byte" name="SID_PRODUCT" use="optional"/>
                                                <xs:attribute type="xs:short" name="ID_PRODUCT" use="optional"/>
                                                <xs:attribute type="xs:string" name="BARCODE_NUMBER" use="optional"/>
                                                <xs:attribute type="xs:date" name="RECEIVING_DATE" use="optional"/>
                                                <xs:attribute type="xs:string" name="SELLING_DATE" use="optional"/>
                                          </xs:extension>
                                    </xs:simpleContent>
                              </xs:complexType>
                        </xs:element>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
</xs:schema>